<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="name">Name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <label for="age">Age: </label>
    <input type="number" th:field="*{age}" id="age"/>
    <label for="email">Email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <label for="username">Username: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <label for="password">Password: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <br/>
    <div th:each="role:${roles}">
        <input th:type="checkbox"
               th:name="roles"
               th:value="${role}">

        <label th:text="${role}" ></label>
    </div>
    <input type="submit" value="Add"/>
</form>
<div>
    <form  th:action="@{/logout}" method="post">
        <input type="submit" value="Logout">
    </form>
</div>
</body>
</html>