<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User List</title>
</head>
<body>
<h1>User list</h1>

<div>
  <table border="1">



    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Age</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
    <tr th:each="user : ${users}">
      <td th:utext="${user.getId()}">id</td>
      <td th:utext="${user.getName()}">name</td>
      <td th:utext="${user.getAge()}">age</td>
      <td th:utext="${user.getEmail()}">email</td>
      <td>
        <form th:method="GET" th:action="@{/{id}/edit(id=${user.getId()})}">
          <input type="submit" value="Edit"/>
        </form>
        <form th:method="DELETE" th:action="@{/{id}(id=${user.getId()})}">
          <input type="submit" value="Delete"/>
        </form>
      </td>

    </tr>


  </table>

  <br/>

  <a href="/new">Add new User</a>

</div>




</body>
</html>